@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: Ebrima;
    src: url(../font/ebrima.ttf);
}
@font-face {
    font-family: Chancery;
    src: url(../font/CHANCERY.ttf);
}
* {
	margin:0;
	padding:0;
	font-family: Helvetica;
	/*font-size:16px;*/
	cursor: inherit;
	color: #444;
	
}
ul { 
    list-style:none;
}

a {
	color:#fff;
	text-decoration:none;
}
body {
	background-image: url("../images/gplay.png");
}
/* ----HEADER-MAIN-------- */
.nav-button {
	width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fafafa;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
    padding: 1px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: 20px;
    top: 20px;
    color: #444;
    z-index: 1000;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
.go-deep {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	transition:all ease-in-out 0.2s;
}
.header-left, .header-center {
	float:left;
	display:inline-block;
}
.header-left {
	position:relative;
	z-index:100;
	width:20vw;
}
.header-left ul {
	left: 0px;
	margin-top:75px;
	position:absolute;
	font-size: 2vh;
}
.header-left ul li { 
     position:relative;
	 left:-180px;
     display: table;
     height: 30px;
	 background: #2d2d2d;
	 margin-top: 3px;
	 margin-bottom: 3px;
	 padding: 5px 15px 5px 1px;
	 border-bottom-right-radius: 25px;
	 border-top-right-radius: 25px;
	 color:#f3f3f3;
	 transition:all linear 0.2s;
	
}
.header-left ul li div.fix {
	display:inline-block;
	position:relative;
	max-width: 400px;
	top:-2px;
	color: white;
}
.header-left ul li .ring {
	display:inline-block;
	width:15px;
	height:15px;
	margin-top:7px;
	margin-left:6px;
	margin-right:6px;
	border-radius:25px;
	border:3px solid #666;

}


/*---SLIDER----*/
html.fsvs {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
html.fsvs #fsvs-body {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}
html.fsvs #fsvs-body > * {
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
html.fsvs #fsvs-pagination {
  margin: 0;
  padding: 8px 4px;
  position: fixed;
  height: auto;
  right: -100px;
  top: 50%;
  z-index: 999;
  width: 32px;
}
html.fsvs #fsvs-pagination li {
  list-style: none;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin: 0 0 2px 0;
  cursor: pointer;
}
html.fsvs #fsvs-pagination li > span {
  width: 22px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #FF5E5E;
  display: block;
}
html.fsvs #fsvs-pagination li > span > span {
  width: 12px;
  height: 12px;
  line-height: 12px;
  border: 1px solid #FF5E5E;
  display: block;
  margin: 4px;
}
html.fsvs #fsvs-pagination li.active > span {
  border: 1px dashed #FF5E5E;
}
html.fsvs #fsvs-pagination li.active > span > span {
  background: #FF5E5E;
}
html.fsvs #fsvs-pagination li:last-child {
  margin: 0;
}


/*----HEADER-HOME---*/

#header-logo {
	display:table;
	margin: 0px auto;
}
#header-logo img {
	display:block;
	margin:auto;
}
#header-logo .headline {
	font-size:50px;
	 font-family: Chancery;
	color:#d81528;
	text-align:center;
}
#header-logo .content {
	font-family:Helvetica;
	font-size:3.5vh;
	text-align:center;
}

/*----CONTENT-------*/
.center-content {
	margin:0 auto;
}
.center-content img {
	display:block;
	margin:-3.8vh auto;
}
.center-content .center-bottom ul
{
	left:5%;
	text-align: center;
}
.center-content .center-bottom ul li {
	display:inline-block !important;
	width:75%;
	vertical-align:top;
	text-align:center;
	margin: 8%;
	color:#444;
	
}

.center-content .center-bottom ul li .content{
	font-family: Helvetica;
	font-size: 3vh;
}

.center-content .center-bottom ul li .headline {
	font-size:5vh;
	margin-bottom:6px;
	font-weight: bold;
	font-family:Helvetica;
}


#slide-2 .content{
	margin:0 15vw 0 15vw;
	font-size: 3vh;
	text-align: left;
	padding:6vh 3vh 6vh 3vh;
	border-radius: 2vh;
}

#slide-3 .content{
	margin:0 15vw 0 15vw;
	font-size: 3vh;
	text-align: left;
	padding:5vh 3vh 2vh 3vh;
	border-radius: 2vh;
	color:#ffffff;
	background: rgb(207, 207, 154, 0.5);
}

#slide-5 .content{
	margin:0 15vw 0 15vw;
	font-size: 3vh;
	text-align: left;
	padding:5vh 3vh 5vh 3vh;
	border-radius: 2vh;
	color:#ffffff;
	background: rgba(1, 19, 48,0.7);
}

#slide-6 .content{
	display: block;
	margin: auto 45px;
	width: 70vw;
	height: 60vh;
	font-size: 3vh;
	padding:5vh 1vh 2vh 3vh;
	border-radius: 2vh;
	background: rgba(34, 38, 41,0.6);
	text-align: center;
}

#slide-6 input {
	display: block;
	margin: auto;
	margin-bottom: 4vh;
	margin-top: 2vh;
	width: 40vw;
	height: 4.2vh;
	border-radius: 5px;
	font-size: 2.2vh;
	color: #000;
	cursor: auto;
	padding-left: 1.5vh;
}
#slide-6 label {
	color: #fff;
}
#slide-6 #check-result {
	margin: auto;
	display: block;
	font-size: 3vh;
	font-weight: 700;
	padding: 1.5vh 0.7vw;
	border: 1px solid #566A93;
	border-radius: 10px;
	background-color: #fff;
	color: #000;
	cursor:pointer;
	height: 7vh;
	width: 20vw;
	margin-top: 2vh;
}
#slide-6 #result-txt {
	color: #fff;
	text-align: justify;
	margin: auto;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	height: 30vh;
	align-items: center;

}
#slide-6 #check-result:hover {
	background: #e5e5e5;
}
#slide-7 .content{
	width: 80vw;
	margin:auto;
	font-size: 3vh;
	padding:5vh 3vh 2vh 3vh;
	border-radius: 2vh;
	background: rgba(35, 178, 149,0.5);
	text-align: center;
}

.content-container{
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	height: 80vh;
	align-items: center;
}

#container-school ul li {
	margin-top: 10vh;
}
/*----RESULTS------*/


.scrollbar
{
	height: 400px;
	width:900px;
	background: #1d1f21;
	overflow-y: scroll;
}

#wrapper
{
	text-align: center;
	width:100%;
	margin: auto;
}



/**------------------------font styling--------------------------*/

.headtab
{
	color:black;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	background:#e18728;
	width:300px;
	border: 0.5px solid black;
}

.c1
{
	color:black;
	font-size:15px;
	font-weight:lighter;
	text-align:center;
	background:#a9b2b9;
	width: 300px;
	border: 0.5px solid black;
}
.c2
{
	color:black;
	font-size:15px;
	font-weight:lighter;
	text-align:center;
	background:#F2F2F2;
	width: 300px;
	border: 0.5px solid black;
}

.contact-card
{
	display:inline-block;
	min-width:250px;
	margin:1.5%;
}
/**------------------------font styling--------------------------*/







/*----FOR SCHOOL -----*/
#container-school {
	background:url(../images/background.png) center no-repeat;
	background-size:cover;
	min-height:100%;
	color:#FFF;
}
#container-school ul {
	position:relative;
}
#container-school ul li {
	position:relative;
	display:inline-block;
	width:46%;
	text-align:center;
	padding:30px 14px;
	vertical-align: top;
	z-index:3;
}
#container-school ul li.inactive .left-pane-image, #container-school ul li.inactive .left-pane-content {
	-webkit-transform:translateY(100%);
	-moz-transform:translateY(100%);
	-o-transform:translateY(100%);
	transform:translateY(100%);
}
#container-school ul li.inactive .left-pane-content .content {
	-webkit-transform: scale(0,0);
	-moz-transform: scale(0,0);
	-o-transform: scale(0,0);
	transform: scale(0,0);
	transition:all ease-in-out 0.5s;
}
#container-school .left-pane-image {
	margin: 2px 0px 2px 0px;
	transition:all ease-in-out 0.5s;
}
#container-school .left-pane-content {
	width:80%;
	margin:0 auto;
	transition:all ease-in-out 0.5s;
	}
#container-school .left-pane-content .headline {
	font-size:24px;
	padding-bottom:10px;
	border-bottom: 1px solid #FFF;
	margin-bottom:25px;
	color: white;

}
#container-school ul li .left-pane-content .content {
	transition:all ease-in-out 0.5s; 
	color: white;
}
.red-overlay {
	position:absolute;
	min-height:100%;
	width:49%;
	background:rgba(232,0,0,0.75);
	z-index:2;
	transition:all ease-in-out 0.5s;
}

.red-overlay-right{
	width:51%;
}

.move {
	left:51%;
	transition:all ease-in-out 0.5s;
}

/*-----EVENTS-----*/
#container-sample{
	background: url(../images/b01.jpg) center no-repeat;
	background-size: cover;
	min-height: 100%;
	text-align: center;

}
#container-sample .wrapper{
	/*background-color:#4c5a5a;*/
	background-color: black;
	opacity:0.8;
	z-index:3;
	padding:1%;
	height: 100vh;
}
#container-eventa {
	background: url(../images/events.png) center no-repeat;
	background-size:cover;
	min-height:100%;
	color:#FFF;
}
#container-eventa ul li {
	display:inline-block;
	width:100vw;
	vertical-align:top;
	color:#ffffff;
}
#container-eventa ul li div.wrapper {
	width:100%;
	/*margin: 10px auto 0px 8%;*/
	text-align:center;
	font-size:50px;
}
#container-eventa ul li div.wrapper .headline h1 {
	font-size:80px;
	font-weight:bold;	
	/*padding-bottom:10px;*/
	/*margin-left: 130px;*/
	color:#ffffff;
}

#container-eventa ul li div.wrapper .headline p {
	font-size:30px;
	font-weight:bold;
	padding-bottom:10px;
	/*margin-left: 130px;*/
	color:#ffffff;
}

/*#container-eventa ul li div.wrapper .content {
	margin-top:15px;
	text-align:justify;
	font-size:18px;
	color:#ffffff;
}*/



.codevoyage{
	background: url("../images/code1.jpg")
}

#container-eventb {
	background:rgba(65, 90, 128, 0.65) none repeat scroll 0% 0%;
	background-size:cover;
	min-height:100%;
	color:#FFF;
}
#container-eventb ul li {
	display:inline-block;
	width:85%;
	vertical-align:top;
}
#container-eventb ul li div.wrapper {
	width:100%;
	margin: 10px auto 0px 8%;
	text-align:center;
	font-size:50px;
}
#container-eventb ul li div.wrapper .headline h1 {
	font-size:80px;
	font-weight:bold;	
	/*padding-bottom:10px;*/
	/*margin-left: 130px;*/
	color:#ffffff;
}

#container-eventb ul li div.wrapper .headline p {
	font-size:30px;
	font-weight:bold;
	padding-bottom:10px;
	/*margin-left: 130px;*/
	color:#ffffff;
}
/*#container-eventb ul li div.wrapper .content {
	margin-top:15px;
	text-align:justify;
	font-size:3vh;
	color:#ffffff;
}*/


/*------Contact---*/
#container-contact,#payment {

	background-size:cover;
	margin: 7% auto;
	text-align:center;
}

div.headline h1 {
	font-weight:bold;
	font-size:30px;
	padding:10px;
	
}
#container-contact .content .headline {
	padding-top:25px;
	font-weight:bold;
}
#container-contact .city-vol ul li {
	display:inline-block;
	margin:10px 40px;
	font-size: 17px;
	color: #444;
}
#container-contact .city-vol ul li span {
	font-weight:bold;
	font-size: 18px !important;
	letter-spacing: 0.5px;
}





/*----RESPONSIVENESS----*/
@media (max-width: 920px) {
	/** { font-size:14px; }*/
	#container-school ul li { padding: 20px 11px; 
	                           width:44%; }
    #container-school .left-pane-content {
	width:100%;
	}

	#container-eventa ul li div.wrapper{
		padding:0 0 20vh 0;
	}

	.red-overlay {
	position:absolute;
	min-height:200vh;
	width:100%;
	background:rgba(232,0,0,0.75);
	z-index:2;
	transition:all ease-in-out 0.5s;
	}

	.red-overlay-right{
		width:100%;
		z-index: 1;
	}

	#container-school ul li {
	position:relative;
	display:inline-block;
	width:100%;
	text-align:center;
	padding:30px 14px;
	vertical-align: top;
	z-index:3;
}

#slide-2 .content{
	margin:0 5vw 0 5vw;
	font-size: 2.7vh;
}

#slide-3 .content{
	margin:0 5vw 0 5vw;
	font-size: 2.7vh;
}

#slide-4 .content{
	margin:0 5vw 0 5vw;
	font-size: 2.7vh;
}

#slide-5 .content{
	margin:0 5vw 0 5vw;
	font-size: 2.7vh;
}

#slide-6 .content{
	margin:0 5vw 0 5vw;
	font-size: 2.7vh;
}

.content-container{
	height:auto;
}

#container-school ul li {
	margin-top:0;
}
}


/*@media (max-width: 720px){


#container-eventa ul li div.wrapper .headline h1 , #container-eventb  ul li div.wrapper .headline h1{
		font-size:50px; 
	}

	#container-eventa ul li div.wrapper .headline p , #container-eventb ul li div.wrapper .headline p{
		font-size: 20px;
	}

#container-eventa ul li div.wrapper .content,#container-eventb ul li div.wrapper .content{
	font-size: 14px;
}
}*/
/*@media (max-width: 1024px) {
	* { font-size:15px; }




	.center-content img{
		width:75%;
	}
	#header-logo .headline {
	font-size:32px;
	}
	#container-school .left-pane-content .headline {
		margin-bottom:15px;
	}
	#container-events ul li div.wrapper .content {
	margin-top:13px;
	}
     
}*/
@media (max-height: 520px) {
	* { font-size:14px; }
	#header {
	height:150px;
}
	#header-logo .headline {
	font-size:25px;
	}
	#container-school ul li { padding: 10px 11px; 
	                           width:46%; }
	#container-school .left-pane-image {
	margin: 12px 0px 12px 0px;
	}
	#container-school .left-pane-content .headline {
		margin-bottom:10px;
	}
	#container-events ul li div.wrapper .content {
	margin-top:8px;
	max-height: 60%;
	}
}
@media (max-width: 650px) {
	.slide { 
	         overflow-y:scroll !important;
	}
}
@media (max-height: 560px) {
	.slide { 
	         overflow-y:scroll !important;
	}

	
}

/*
@media (max-width: 560px) {
	#container-eventa ul li div.wrapper .content,#container-eventb ul li div.wrapper .content{
	font-size: 9px;
}
}*/

@media (max-width: 600px) {

	/** { font-size:13px;
	 }*/
		#content img {
		width: 60%;
		position: relative;
		left:-20%;
	}

	.center-content .center-bottom ul{
		text-align: inherit;
	}

	#container-eventa ul li div.wrapper .headline h1 , #container-eventb  ul li div.wrapper .headline h1{
		font-size:50px; 
	}

	#container-eventa ul li div.wrapper .headline p , #container-eventb ul li div.wrapper .headline p{
		font-size: 20px;
	}

/*#container-eventa ul li div.wrapper .content , #container-eventb ul li div.wrapper .content{
	font-size: 14px;
}
	*/	.center-content .center-bottom ul li{
			margin:0px -36.67px 0px 0px;
			position: relative; left: 0%;
		}

		.center-content .center-bottom ul li .headline{
			margin-top:10vh;
			width:100vw;
		}

		#content {
			position: absolute;top:30%; width: 100%; left: 0%;
		}
		#content .content {
			width:90vw;
			margin:0 0 0 5vw;
		}
		#content img{
			position:absolute;
			left:20%;
		}

		#header-logo img{
			width: 60%;
		}

	#header {
	height:100px;
}
	#header-logo .headline {
	font-size:25px;
	}
	#container-school ul li { padding: 10px 5px;
	                           width:100%; height:100vh; }
    #container-school .left-pane-content {
	width:100%;
	}
	#container-school .left-pane-content .headline {
		margin-bottom:10px;
	}
	#container-events ul li div.wrapper .content {
	margin-top:8px;
	max-height: 50%;
	}
}
#foot
{
	opacity: 0.8;
	font-weight: bold;
	position:fixed;
	z-index:100;
	background-color:black;
	color:white;
	bottom:0%;
	padding:1%;
	float:left;
	width:100%;
}

#foot .center
{
	position: absolute;
	left:40%;
	font-weight: bold;
	display: inline-block;
	color: white;
}
#font a
{
	font-weight:100;
}






div#regsheet {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    padding: 14px 16px;
    right: 0;
    opacity: 0.8;
    z-index: 10;
}

div#regsheet h2,p {
    color: white;
}

	
.reglinks {
    display: flex;
    color: white;
    margin-top: 4px;
}

.regbuttons {
    color: #5f98f7;
    margin: 0px 3px;
    font-weight: bold;
    /* min-width: 93px; */
    text-align: center;
    cursor: pointer;
}

#regsheet h2 {
    font-weight: normal;
}

@media screen and (max-width: 600px){
	#regsheet{
		    right: initial !important;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
	}
}


#uploadSheet{
   visibility:hidden;
    margin-top: 5%;
}
#uploadSheet input{

    color: 	white;
}



.upload-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    display: none;
    z-index: 1000;
    /* justify-content: center; */
    /* align-items: center; */
}


.form-wrap {
    position: absolute;
    background: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-inner {
    padding: 2%;
    background: black;
    opacity: 0.9;
    color: white;
}

.form-inner h2 {
    color: white;
    margin-bottom: 7%;
    font-size: 1.1em;
    font-weight: normal;
}

input#uploadRegSheet {
    color: white;
    font-size: 1.1em;
}

span#close {
    color: white;
    float: right;
    cursor: pointer; 
}


button#uploadSumit {
    color: #5f98f7;
    border: 1px solid #5f98f7;
    background: none;
    padding: 4px 10px;
    margin-top: 13px;
    font-size: 1.1em;
    text-transform: uppercase;
}


.form-inner form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

h3#message {
	display: none;
    text-align: center;
    color: #5f98f7;
    font-weight: normal;
    min-width: 300px;
    margin-top: 6%;
}

.disabled{
	pointer-events: none;
    opacity: 0.6;
    color: #eee;
    border: 1px solid #eee;
}